[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Import Neuracle data and event files in BDF format
[access "refs/*"]
	owner = group user/gongch
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gongch
	label-Verified = -1..+1 group user/gongch
	push = group user/gongch
	read = group user/gongch
	rebase = group user/gongch
	removeReviewer = group user/gongch
	submit = group user/gongch
[access "refs/heads/*"]
	create = group user/gongch
	push = +force group user/gongch
	pushMerge = group user/gongch
	read = group user/gongch
[access "refs/tags/*"]
	push = group user/gongch
	push = +force group user/gongch
